.coupon{
	width: 100%;
	height: 16.30375rem;
	overflow: hidden;
}
.coupon img{
	width: 100%;
	height: 100%;
}
.coupon img:nth-child(1){
	height: 8.0575rem;
	width: 100%;
	margin-bottom: 0.2rem;
}
.coupon img:nth-child(2), .coupon img:nth-child(3){
	box-sizing: border-box;
    width: 50%;
    height: 7.869375rem;
    float: left;
    padding: 0 .05rem .1rem;
}