.enjoy{
	width: 100%;
	background: #fff;
	margin-bottom: .2rem;
}
.title{
	padding: .6rem 0 .26rem;
	text-align: center;
	width: 100%;
	height: 3.059375rem;
	line-height: 3.059375rem;
}
.title .label_left, .title .label_right{
	display: inline-block;
    border-bottom: .04rem solid #a8a8ad;
    position: relative;
    width: 0.7875rem;
    margin-bottom: .2rem;
}
.title .label {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    font-size: .48rem;
    line-height: 1.6em;
    padding: 0 .4rem;
}
.topImg{
	width: 100%;
	height: 12.076875rem;
}
.enjoy img{
	width: 100%;
	height: 100%;
}