.guess{
	width: 100%;
	min-height: 800px;
    margin-bottom: 4rem;

}
.guess img{
	width: 100%;
	height: 100%;
}
.searchList {
    width: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    min-height: 200px;
}
.guess .searchList .style1 {
    width: 48%;
    /* height: 9.31rem; */
    min-height: 10rem;
    background: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 0.25rem;
    overflow: hidden;
    position: relative;
}
.searchList dl:nth-child(2n) {
    float: left;
}
.searchList dl:nth-child(2n+1) {
    float: right;
}
.searchList dl.style1 dt {
    width: 100%;
    height: 10.5906251rem;
    overflow: hidden;
    position: relative;
}
.searchList dl.style1 dt span {
    width: 100%;
    height: 10.590625rem;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px;
}
.searchList dl dd{
	height: 7.404375rem;
	width: 100%;
	z-index: 2;
}
.searchList dl.style1 dd span {
    display: block;
    margin-bottom: 0.12rem;
    color: #39383b;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 0.25rem;
}
 dl.style1 dd span strong {
    display: block;
    color: #252525;
    font-size: 0.39rem;
    line-height: 100%;
    padding: 0.28rem 0 0.15rem 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
dl.style1 dd span em {
    display: box;
    display: -moz-box;
    display: -webkit-box;
    font-size: 14px;
    height: 1.5rem;
    line-height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -moz-line-clamp: 2;
    -webkit-line-clamp: 2;
    word-break: break-all;
    word-wrap: break-word;
    color: #9f9f9f;
    font-style: normal;
}
dl.style1 dd div {
    display: box;
    display: -moz-box;
    display: -webkit-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 0.25rem;
    width: 100%;
    height: 2.535rem;
}
dl.style1 dd div span {
    display: box;
    display: -moz-box;
    display: -webkit-box;
    box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-pack: center;
    -moz-box-pack: center;
    -webkit-box-pack: center;
    height: 1.489375rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-right: 0.2rem;
}
dl.style1 dd div span strong {
    display: box;
    display: -webkit-box;
    font-size: 0.52rem;
    color: #ff4a30;
    line-height: 100%;
    box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-align: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    width: 60%;
    font-size: 16px;
    font-weight: 400;
}
dl.style1 dd div span em{
	display: block;
	height: 2.570625rem;
	position: absolute;
	z-index: 2;
	left: 0;top: 15rem;
}
dl.style1 dd div span em i {
    display: block;
    overflow: hidden;
    background: #ff4a30;
    color: #fff;
    font-size: 0.32rem;
    padding: 0 0.08rem;
    border-radius: 2px;
    margin-right: 2px;
    height: 1rem;
    line-height: 1rem;
    
}
dl.style1 dd p{
	position: absolute;
	bottom: 0;
	left: 0.1rem;
	font-size: 12px;
	color: #9f9f9f;
}
