.header{
	width: 100%;
	height: 2.26375rem;
	
	line-height: 2.26375rem;
	overflow: hidden;
	position: relative;
}
.header ul{
	width: 100%;
    background: #fff;
    position: relative;
    z-index: 0;
    display: box;
    display: -moz-box;
    display: -webkit-box;
    overflow-x: auto;
}
.header ul li{
	width: 20%;
	
}